#qna {
  display: none;
}


.clubName {
  position: relative;
  right: 60px;
  top: 5px;
  color: white;
}


.qBox {
  position: relative;
  height: 120px;
  background-color: #383A3F;
  color: white;
  text-align: center;
  font-size: 24px;
  width: 40%

}


.answerList {
  display:table-cell;
  vertical-align: middle;
  background-color: #FFFFF2;
  display: block;
  width: 28%;
  height: 70px;
  border: 0px;
  font-size: 20px;
}


.answerList:hover, .answerList:focus {
  background-color: #F68657;
  color: whitesmoke;
}


.status {
  position: relative;
  top: 500px;
  bottom: 0;
  height: 10px;
  width: 30%;
  background-color: #FFFFF2;
  border-radius: 20px;
}


.statusBar {
  height: 100%;
  border-radius: 20px;
  background: #F68657;
}
